html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: 'Inter', sans-serif;
  background-color: #e6e6e6;
}

body::-webkit-scrollbar {
  display: none;
}

.all-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem auto;
  width: 70%;
  max-width: 1000px;
}

/* Navbar Starts Here */

.navbar {
  background-color: #F55A5A;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px 10px 0 0;
  color: white;
  gap: 0.5rem;
}

.navbar-icon {
  font-size: 2.5rem;
}

.navbar-title {
  font-weight: 400;
}

/* Navbar ends here, Locations start here */

.location-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 4rem 3rem 0 3rem;
  gap: 2rem;
  background-color: white;
  width: 100%;
}

.location-section:nth-child(4) {
  border-radius: 0 0 10px 10px;
  padding-bottom: 4rem;
}

.location-img {
  width: 13rem;
  aspect-ratio: 6/8;
  border-radius: 10px;
  object-fit: cover;
}

.location-top-section {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 1.5rem 0 0.4rem 0;
}

.location-icon {
  color: #F55A5A;
  font-size: 1.3rem;
}

.location-country {
  font-weight: 400;
  margin: 0;
  font-size: 1.1rem;
}

.google-maps {
  padding-left: 1rem;
  color: #918E9B;
  text-decoration: none;
  font-size: 0.9rem;
}

.google-maps:visited {
  color: #918E9B;
}

.google-maps:hover {
  color: #F55A5A;
}

.location-title {
  margin: 0;
}

.location-dates {
  margin: 2rem 0 0 0;
  font-size: 0.95rem;;
}

.location-description {
  color: #2B283A;
}

/* Locations end here */


/* Media Queries (Phone) */

@media screen and (max-width: 550px) {
  .all-content {
    width: 90%;
  }
  
  .location-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 3rem 0 3rem;
    background-color: white;
    width: 100%;
  }

  .location-img {
    width: 15rem;
  }

  .location-icon {
    font-size: 1.2rem;
  }
  
  .location-country {
    font-size: 1rem;
  }
  
  .google-maps {
    font-size: 0.8rem;
  }

  .location-title {
    font-size: 1.5rem;
  }

  .location-dates {
    font-size: 0.85rem;;
  }
}

